* {
	font-family: inherit;
	font-weight: inherit;
}

a {
	color: #333333;
	text-decoration: none;
	transition-duration: 0.1s;
	list-style: none outside none;
}

body {
	overflow-x: hidden;
	background-color: #FFFFFF;
}

html {
	overflow-x: hidden;
	font-size: 62.5%;
}

pre code {	
	font-family: Helvetica,arial,sans-serif;
	letter-spacing: 1px;
}
	
img {
	display: block;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

strong {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li, span, input, textarea, body {
	font-family: Helvetica,arial,sans-serif;
	font-size: 1.6rem;
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: normal;
	line-height: 1.8;
}

a {
	font-weight: bold;
}

h1 {
	font-size: 5.5rem;
	letter-spacing: -2px;
	line-height: 1.2;
}

h2 {
	font-size: 4.4rem;
	letter-spacing: -2px;
	line-height: 1.2;
}

h3 {
	font-size: 2.4rem;
	line-height: 1.2;
}

h4 {
	font-size: 2.2rem;
	line-height: 1.8;
}

h5 {
	font-size: 1.6rem;
	line-height: 2;
}

h6 {
	font-size: 1.4rem;
	line-height: 2;
}

ul {
	margin-bottom: 0px;
}

p {
	font-size: 1.6rem;
	line-height: 1.8;
	margin-bottom: 15px;
}
	p:last-child {
		margin-bottom: 0;
	}

li {
	margin-bottom: 5px;
}

button:hover {
        cursor: pointer;
}

.sub-title {
	margin-bottom: 5px !important;
}

	.sub-title a {
		color: #333333;
	}

	.sub-title a:hover {
		opacity: 0.7;
	}

.menuPC {
	list-style: none outside none;
	float: right;
	position: relative;
	top: 16px;
}
	
	.menuPC a, .menuPC span {
		font-weight: bold;
		text-transform: uppercase !important;
	}

	.sf-with-ul:after {
	   	border-color: #E2E2E2 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
		border-image: none;
		border-right: 5px solid rgba(0, 0, 0, 0);
		border-style: solid;
		border-width: 5px;
		content: "";
		height: 0;
		margin-top: 0;
		position: absolute;
		right: 0;
		top: 9px;
		width: 0;
	}

	.sf-menu a {
		display: block;
		position: relative;
	}

	.sf-menu ul {
		display: none;
		left: 0;
		position: absolute;
		top: 100%;
		z-index: 999;

	}

	.menuPC > ul > li {
		list-style: none outside none;
		position: relative;
		float: left;
	}

		.menuPC > ul > li a, .menuPC > ul > li span  {
			color: #333333;
			cursor: pointer;
			display: block;
			height: 64px;
			padding-left: 15px;
			padding-right: 15px;
			transition: all 0s ease 0s;
			font-size: 1.4rem;
			line-height: 1.8;
		}

			.menuPC > ul > li a:hover, .menuPC > ul > li i:hover, .menuPC > ul > li span:hover {
				border-bottom: 10px solid;
				color: #222222;
				height: 50px;
			}

			.menuPC > ul > li i:hover {
				height: 44px;
			}

			.menuPC ul li:hover ul {
				display: block;
			}

			.menuPC ul li ul {
				background-color: #2A3135;
				left: 0;
				padding: 15px;
				top: 64px;
			}

				.menuPC ul li ul.posts-menu {
					width: 200px;
				}

				.menuPC ul li ul.admin-menu {
					width: 200px;
				}

				.menuPC ul li ul.search-menu {
					width: 275px;
				}

			.menuPC ul li ul li {
				list-style: none outside none;
				border-color: #3C464C;
				margin: 0;
				padding: 10px 0;
			}

				.menuPC ul li ul li:first-child {
					padding-top: 0;
				}

				.menuPC ul li ul li:last-child {
					border: medium none;
					padding-bottom: 0;
				}

				.menuPC ul li ul li a {
					color: #FFFFFF;
					border: medium none !important;
					display: block;
					font-size: 1.4rem;
					height: auto !important;
					line-height: 1.4;
					margin: 0;
				}

					.menuPC ul li ul li a:hover {
						color: #DDDDDD;
						height: auto !important;
					}


.header-title {
	font-family: Helvetica,arial,sans-serif;
	font-size: 38px;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: 41px;
	float: left;
}

#pageWrap {
	backface-visibility: hidden;
	left: 0;
	position: relative;
	z-index: 1;
	background-color: #FFFFFF;
}

#section {
	backface-visibility: hidden;
	overflow: hidden;
	position: relative;
	width: 100%;
}

#mainBody {
	background-color: #F9F9F9;
	overflow: visible;
	z-index: 100;
}

#mainBody a {
	color: #333333;
}

	#mainBody a:hover {
		color: #d5d5d5;
	}

#mainCopyright {
	text-align: center;
	background-color: #FFFFFF;
}

	#mainCopyright p {
		display: inline-block;
	}

#mainHeader {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

#mainHeader .container {
	height: 30px;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	padding: 40px 20px;
}

.post-item {}
	
#portfolio-header {
	text-align: center;
	border-bottom: 2px solid #EFEFEF;
	margin-bottom: 32px;
}

	#portfolio-header h3, #portfolio-header p {
		margin: 0;
		padding: 0;
		clear: both;
	}

	#portfolio-header p:last-child {
		margin-bottom: 25px;
	}

#default-portfolio-item {
	display: none;
}

#empty-portfolio-item {
	display: none;
	text-align: center;
}

.portfolio-item {
	border-bottom: 2px solid #EFEFEF;
	margin-bottom: 32px;
}

	.portfolio-item:hover .home-button-pager {
		display: block;
	}

	.portfolio-item h5 {
		font-weight: bold;
		margin-top: 30px;
		margin-bottom: 5px;
	}

	.portfolio-item h6 {
		margin-bottom: 15px;
	}

	.portfolio-item p {
		font-weight: bold;
		font-family: Helvetica,arial,sans-serif;
		font-size: 1.4rem;
		line-height: 1.8;
		margin: 0 0 10px;
	}

.hover-wrap {
	display: block;
	width: 270px;
	position: relative;
	margin: auto;
}
	.hover-wrap img {
		position: relative;
		z-index: 0;
		height: 270px;
		width: 270px;
	}
	
	.hover-wrap .hover {
		opacity: 0;
		position: absolute;
		z-index: 99;
	}
	
	.hover-wrap:hover .hover {
		opacity: 1;
		background-color: rgba(249, 249, 249, 0.7);
	}

.logo-left .logo {
	text-align: center;
	width: 100%;
}

.logo p {
	display: none;
	text-transform: uppercase !important;
}

.clear {
	clear: both;
}

.more-button-pager {
	width: 100%;
	text-align: center;
}

.save-button-pager {
	width: 100%;
	text-align: right;
	margin-bottom: 10px;
}

.view-button-pager {
	width: 100%;
	text-align: right;
	margin-bottom: 20px;
}

.home-button-pager {
	margin: 0;
	text-align: right;
	display: none;
}

.blog-button {
	border: 2px solid #333333;
	background-color: #fff;
	display: inline-block;
	padding: 5px;
	width: 100px;
	text-align: center;
	margin: inherit;
}
	
	.blog-button:hover {
		background: none repeat scroll 0 0 #000000;
		color: #FFFFFF !important;
		cursor: pointer;
	}

	.blog-button span {
		border: medium none;
		color: #333333;
	}

		.blog-button span:hover {
			color: #FFFFFF;
			cursor: pointer;
		}

	.blog-button-active {
		background: none repeat scroll 0 0 #000000;
		color: #FFFFFF !important;
		cursor: pointer;
	}

		.blog-button-active span {
			color: #FFFFFF;
		}

.panel {
	min-height: 30px;
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #aaaaaa;
	box-sizing: border-box;
	display: block;
	margin: 0;
	outline: medium none;
	padding: 4px;
	width: 100%;
}

.tx-input {
	height: 200px;
	min-height: 200px;
	max-height: 200px;
	top: 250px;
	bottom:0;
	position: fixed;
	width: 1000px;	
	min-width: 1000px;
	max-width: 1000px;
	margin-top: 20px;
}

.tx-shadow {
	background-color: #fff;
	border: none;
	height: 200px;
	margin-top: 20px;
}

.tx-preview {
	min-height: 200px;
	margin-top: 20px;
}

.search {
	display: inline-block;
	float: right;
	margin-right: 45px;
}

#search-container {
	background-color: #fff;
	display: none;
	position: absolute;
	text-align: left;
	z-index: 9999;
}

#menu-button {
	cursor: pointer;
	color: rbga(f, f, f, 0);
	background: #fff;
	height: 14px;
	display: inline-block;
}

#search-button {
	padding-left: 4px;
}

#cancel-search-button {
	display: none;
}

#search-field {
	background: none repeat scroll 0 center white;
	border: 1px solid #333333;
	color: black;
	display: inline-block;
	font-size: 16px;
	letter-spacing: 1px;
	margin: 0;
	padding: 0 0 0 5px;
	text-align: left;
	text-transform: uppercase;
	z-index: 9999;
	display: none;
}

.lightbox {
        background: black;
        background: rgba(0,0,0,0.2);
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9998;
	display: none;
}

        .lightbox:target {
                display: block;
                outline: none;
        }


.lightbox-details {
	position: relative;
        background: none repeat scroll 0 0 #222222;
        border-radius: 6px;
        clear: both;
        padding: 18px;
	width: 350px;
	top: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

	.lightbox-details input {
		width: 100%;
		margin-bottom: 10px;
	}

	.lightbox-details button {
		margin-left: auto;
	}

	.lightbox-details h4 {
		color: #fff;
		text-align: left;
	}

