* {
	font-family: inherit;
	font-weight: inherit;
}

a {
	color: #333333;
	text-decoration: none;
	transition-duration: 0.1s;
	list-style: none outside none;
}

body {
	overflow-x: hidden;
	background-color: #FFFFFF;
}

html {
	overflow-x: hidden;
	font-size: 62.5%;
}

pre code {	
	font-family: Helvetica,arial,sans-serif;
	letter-spacing: 1px;
}
	
img {
	display: block;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

strong {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li, span, input, textarea, body {
	font-family: Helvetica,arial,sans-serif;
	font-size: 1.6rem;
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: normal;
	line-height: 1.8;
}

a {
	font-weight: bold;
}

h1 {
	font-size: 5.5rem;
	letter-spacing: -2px;
	line-height: 1.2;
}

h2 {
	font-size: 4.4rem;
	letter-spacing: -2px;
	line-height: 1.2;
}

h3 {
	font-size: 2.4rem;
	line-height: 1.2;
}

h4 {
	font-size: 2.2rem;
	line-height: 1.8;
}

h5 {
	font-size: 1.6rem;
	line-height: 2;
}

h6 {
	font-size: 1.4rem;
	line-height: 2;
}

ul {
	margin-bottom: 0px;
}

p {
	font-size: 1.6rem;
	line-height: 1.8;
	margin-bottom: 15px;
}
	p:last-child {
		margin-bottom: 0;
	}

li {
	margin-bottom: 5px;
}

button:hover {
        cursor: pointer;
}
